{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
  <h1>Admin</h1>

  <style>
    table,
    tr,
    th,
    td {
      border: 1px solid black;
    }
  </style>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Fistname</th>
        <th>Lastname</th>
        <th>Message</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for email, contactJsons in datas %}
        {% set count = contactJsons|length %}
        {% if count > 0 %}
          {% for json in contactJsons %}
            <tr>
              {% if loop.first %}
                <td rowspan="{{ count }}">{{ email }}</td>
              {% endif %}
              <td>{{ json.firstname }}</td>
              <td>{{ json.lastname }}</td>
              <td>{{ json.content }}</td>
              <td>Archiver</td>
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
