{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
  <style>
    .disabled {
      opacity: 0.3;
    }
  </style>
  <h1 class="text-3xl font-bold mb-4">Admin</h1>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Email</th>
                <th scope="col" class="px-6 py-4">Fistname</th>
                <th scope="col" class="px-6 py-4">Lastname</th>
                <th scope="col" class="px-6 py-4">Message</th>
                <th scope="col" class="px-6 py-4">Status</th>
                <th scope="col" class="px-6 py-4">JSON</th>
                <th scope="col" class="px-6 py-4">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for email, contactJsons in datas %}
                {% set count = contactJsons|length %}
                {% if count > 0 %}
                  {% for contact in contactJsons %}
                    <tr class="border-b dark:border-neutral-500">
                      {% if loop.first %}
                        <td rowspan="{{ count }}" class="whitespace-nowrap px-6 py-4 font-medium">{{ email }}</td>
                      {% endif %}
                      <td class="whitespace-nowrap px-6 py-4 {{ contact.status ? '' : 'disabled' }}">{{ contact.firstname }}</td>
                      <td class="whitespace-nowrap px-6 py-4 {{ contact.status ? '' : 'disabled' }}">{{ contact.lastname }}</td>
                      <td class="whitespace-nowrap px-6 py-4 {{ contact.status ? '' : 'disabled' }}">{{ contact.content }}</td>
                      <td class="whitespace-nowrap px-6 py-4 {{ contact.status ? '' : 'disabled' }}">{{ contact.status ? 'Processing' : 'Archived' }}</td>
                      <td class="whitespace-nowrap px-6 py-4 {{ contact.status ? '' : 'disabled' }}">{{ contact.json }}.json</td>
                      <td class="whitespace-nowrap px-6 py-4">
                        <a href="{{ path("contact_toggle_status", { 'id': contact.id }) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                          {{ contact.status ? 'Archive' : 'Restore' }}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


{% endblock %}
